/*---------
    Reset
-----------*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*-----------
   Debug Zone
-------------*/



/*-----------
   /Debug Zone
-------------*/
/*---------
   Commons
-----------*/
body{
    font-family: 'Roboto', sans-serif;
    background-color: #111111;
    color: #fff;
}

.container{
    max-width: 90%;
    height: 100%;
    margin: auto;

}



/*---------
    Buttons
-----------*/
button{
    color: inherit ;
    border: none;
    cursor: pointer;
}

.btn{
    background-color: transparent;
    border-radius: 10px;
}


.btn-rec{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #cecece;
    border-radius: 50%;
}

.rec-point{
    position: absolute;
    width: 9px;
    height: 9px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eb534c;
    border-radius: 50%;
}

.btn-view{
    background-color: #101111;
    padding: 5px 10px;
}

.btn-blue{
    background-color: #3370e5;
    padding: 5px 10px;
}


/*---------
    Typo
-----------*/

.fa-shield{
    font-size: 24px;
    color: #67d669;
}
/*---------
    Header
-----------*/

/* Control recording button */
 header{
     width: 100%;
     display: flex;
     height: 50px;
     padding: 0px 10px;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 50px;
 }

.recording-btn{
    display: flex;
    column-gap: 10px;
}

.recording-btn button{
    vertical-align: middle;
    margin-right: 10px;
}

.recording-ctrl{
    background-color: #101111;
    padding: 5px 10px;
    border-radius: 5px;
}

/*--------------------------------
    View choice button 
Style rules in buttons css area
--------------------------------*/


/*---------
    Main
-----------*/

main{
    height: calc(100vh - (100px + 50px + 50px));
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    overflow-y: scroll;
    padding-bottom: 60px;
}

.grid-cell{
    display: flex;
    position: relative;
    width: calc((100% - 50px) / 6);
    height: 200px;
    border-radius: 20px;
    background-image: url("https://picsum.photos/id/237/200/300");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grid-name{
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: #282b27;
    padding: 5px 12px;
    border-radius: 10px;
    font-weight: 400;
}

.grid-name i{
    color: #cc3c33;
}

.admin-serv{
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

.grid-cell:hover .admin-serv{
    opacity: 1;
}

/*---------
   Footer
-----------*/

footer{
    background-color: #1b1b1b;
    height: 100px;
}    
