/*---------
    Reset
-----------*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*-----------
   Debug Zone
-------------*/



/*-----------
   /Debug Zone
-------------*/
/*---------
   Commons
-----------*/




/*---------
    Buttons
-----------*/



/*---------
    Typo
-----------*/


/*---------
    Header
-----------*/